<%- include("partials/header"); -%>
    <h1>About</h1>
    <div>
        <img src="images/pic.png" alt="Profile Pic" class="img">
    </div>
    <p>
        <%= aboutContent %>
    </p>
    <%- include("partials/footer"); -%>